.container-intro-page{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    position: relative;
    top: 12.5rem;
    flex-wrap: wrap;
    gap: 5rem;
}

.Image-Intro{
    max-width: 27rem;
    transition: transform 0.4s ease;
}
.Image-Intro:hover {
    transform: scale(1.1); 
}


.Image-intro-page{
    top: 20rem;

}
h1{
    font-size: 2.25rem;
    color: rgb(53, 53, 53);;
}
.details-intro-page h1 span{
    color: rgb(246, 246, 246);
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
}
.rethink{
    color: rgb(53, 53, 53);
    font-size: 1.75rem;
    margin-top: 3%;
}
.rethink {
    color: rgb(255, 255, 255);
    font-size: 30px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
   border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
   margin: 0 auto; /* Gives that scrolling effect as the typing happens */
   letter-spacing: .15em; /* Adjust as needed */
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }



