.container-intro-page{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 7rem;
    flex-wrap: wrap;
    gap: 5rem;
}

.Image-Intro{
    max-width: 40rem;
    transition: transform 0.4s ease;
}
.Image-Intro:hover {
    transform: scale(1.1); 
}


.Image-intro-page{
    top: 20rem;

}
h1{
    font-size: 2.25rem;
    color: rgb(53, 53, 53);;
}
.details-intro-page h1 span{
    color: rgb(0, 153, 153);
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
}
.rethink{
    color: rgb(53, 53, 53);
    font-size: 1.75rem;
    margin-top: 3%;
}
.rethink span{
    color: rgb(0, 153, 153);
}

