@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.body {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto; /* Enable vertical scrolling */
    margin-top: 10rem;
}
.container-about {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    max-width: 1500px;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Drop shadow effect for the container */
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    height: 500px;
}
.p-about {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    padding: 20px;
    font-size: 16px;
    color: #555;
}
.separator-about {
    width: 100%;
    /* height: 1px; */
    background-color: #ebe2e2;
    margin-bottom: 20px;
}
.content-about {
    padding: 20px;
}
.box-container-about {
    display: flex;
    justify-content: space-between; /* Add space between the boxes */
    margin-bottom: 20px;
}
.image-wrapper-about {
    padding: 10px;
    border-radius: 10px; /* Add border radius for curved shape */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Add darker shadow effect for each image */
    margin-left: 30px;
    margin-right: 30px; /* Add more space between the images */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
}
.img-about {
    width: 350px; /* Set a fixed width */
    height: 250px; /* Set a fixed height */
    margin-bottom: 10px; /* Adjust spacing between image and button */
    border-radius: 10px; /* Add border radius for curved shape */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button-about {
    padding: 10px 20px;
    background-color:#5ccaf6;
    color: #fdfdfd;
    text-decoration: none;
    border: none;
    border-radius: 40px;
    width: 300px;
    height: 45px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Open Sans";
}
.button-about:hover {
    background-color: #2990ff;
}
/* p {
    font-size: 16px;
    color: #555;
} */
