.body-courses {
    font-family: "Open sans";
    margin: 0;
    padding: 0;
    background: #6bbae5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }
  
  .slider-wrapper-courses .course-container-courses {
    display: grid;
    gap: 15px;
    overflow-x: auto;
    grid-template-columns: repeat(10, 1fr);
    scrollbar-width: none;
    margin-bottom: 30px;
  }
  
  .slider-wrapper-courses .course-container-courses::-webkit-scrollbar {
    display: none;
  }
  
  .slider-wrapper-courses .course-container-courses .course-courses {
    width: 325px;
    height: 400px;
    object-fit: cover;
  }
  
  .heading-courses {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    width:100%;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 0;
  }
  
  .courses-courses {
    padding: 40px 0;
    text-align: center;
  }
  
  .slider-wrapper-courses {
    position: relative;
  }
  
  .slider-wrapper-courses .slide-button-courses {
    position: absolute;
    top: 50%;
    height: 100px;
    width: 70px;
    color: #fff;
    border: none;
    outline: none;
    background: #826969;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  
  .slider-wrapper-courses .slide-button-courses:hover {
    background: #8fc9e8;
  }
  n
  .slider-wrapper-courses .slide-button-courses#prev-slide {
    left: -20px;
    display: none;
  }
  
  .slider-wrapper-courses .slide-button-courses#next-slide {
    right: -20px;
  }
  
  .course-container-courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    width: 80%; /* Adjust width as needed */
  }
  
  .course-courses {
    margin: 10px;
    text-align: center;
    width: 25%; /* Adjust width for desired course count */
    background-color: rgba(127, 113, 206, 0.855);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 70px;
  }
  .course-courses :hover {
    
    transform: scale(1.05); 
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); 
    transition: all 0.2s ease-in-out; 
  }
  
  .course-courses img {
    width: 200%;
    height: 170px; /* Adjust height as needed */
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: none;
  }
  
  .course-courses h3,
  .course-courses p {
    margin: 5px 0;
  }
  
  .course-courses a {
    text-decoration: none;
    color: #f5f2f2;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 3px;
  }
  
  .course-courses a:hover {
    background-color: #c4be15;
  }
  
  .courses-courses .slider-scrollbar-courses {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .slider-scrollbar-courses .scrollbar-track-courses {
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
    border-radius: 4px;
  }
  
  .slider-scrollbar-courses:hover .scrollbar-track-courses {
    height: 4px;
  }
  
  .slider-scrollbar-courses .scrollbar-thumb-courses {
    height: 100%;
    width: 50px;
    background: #000;
    position: absolute;
    border-radius: inherit;
    cursor: grab;
  }
  
  .slider-scrollbar-courses .scrollbar-track-courses:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
  }
  
  .slider-scrollbar-courses .scrollbar-thumb-courses::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 30px;
    display: flex; /* Make footer a flexbox container */
    justify-content: space-between; /* Align items at opposite ends */
    width: 100%;
  }
  
  .social-icons-courses {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .social-icons-courses a {
    color: #fff;
    margin: 0 5px;
  }
  
  .social-icons-courses a i {
    font-size: 2em;
    
  }
  
  .join-community-courses {
    background-color: #ecd3cbc4;

    color: #333;
    padding: 40px 10px;
    border: none;
    border-radius: 10px;
  }
  .join-community-courses:hover {
    transform: translateY(2px); /* Simulate button press */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add subtle shadow on hover */
  }
  
  @media (max-width: 1023px) {
    .slider-wrapper-courses .slide-button-courses {
      display: none !important;
    }
  
    .slider-wrapper-courses .course-container-courses {
      gap: 10px;
      margin-bottom: 15px;
    }
  
    .slider-wrapper-courses .course-container-courses .course-courses {
      width: 280px;
      height: 380px;
    }
  
    .slider-scrollbar-courses .scrollbar-thumb-courses {
      width: 20%;
    }
  }
